body {
  font-family: "Arial", "sans-serif"; }

#topic-buttons {
  position: relative; }
  #topic-buttons .button-topic {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #39A0ED;
    border-radius: 2px;
    background: #39A0ED;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.278);
    transition: all .2s ease-in-out; }
    #topic-buttons .button-topic:hover {
      background: #1488df;
      transform: translate(1px, -1px);
      box-shadow: none; }
    #topic-buttons .button-topic:active {
      background: #555e6d; }

#gif-holder {
  width: 100%;
  margin: 0px auto; }
  #gif-holder .gif-img {
    float: left;
    display: inline-block;
    max-width: 400px;
    padding: 20px; }

@keyframes slideBounce {
  0% {
    transform: translateX(200px); }
  100% {
    transform: translateX(20px); } }

#topic-form {
  position: fixed;
  right: 2%;
  top: 50%;
  background: white;
  padding-left: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35);
  height: 150px;
  width: 200px;
  transform: translateX(10px);
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  #topic-form.trigger {
    transform: translateX(95%); }
    #topic-form.trigger:before {
      content: "OPEN" !important; }
  #topic-form:before {
    position: absolute;
    display: block;
    content: "CLOSE";
    transform: rotate(-90deg);
    height: 35px;
    width: 146px;
    margin: 0px;
    left: -48px;
    top: 58px;
    text-align: center;
    color: #EE6352;
    transition: all .2s ease-in-out; }
  #topic-form #toggle-form {
    font-size: 30px;
    height: 150px;
    width: 27px;
    top: 0px;
    left: 0px;
    color: #EE6352;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    transform: scale(1);
    transform: translateX(5px);
    transition: .8s ease-in-out; }
    #topic-form #toggle-form.spin {
      transform: scale(1);
      transform: translateX(0px); }
  #topic-form #form-header {
    color: #EE6352;
    font-size: 20px;
    margin: 0px auto;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
  #topic-form #form-text {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    width: 65%;
    margin: 0px auto;
    margin-top: 20px;
    height: 25px;
    font-size: 16px; }
  #topic-form #submit-topic {
    position: absolute;
    padding: 2px 4px;
    color: #EE6352;
    font-weight: bold;
    height: 25px;
    width: 50px;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0px auto;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    #topic-form #submit-topic:hover {
      background: #fde5df;
      color: #EE6352; }
    #topic-form #submit-topic:active {
      background: #F79D84; }
